@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  transition: background-image 0.5s ease;

  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--foreground-rgb));
}

*, *::before, *::after {
  box-sizing: border-box;
}
.tooltip-container:hover #tooltip-right {
  visibility: visible;
  opacity: 1;
}

#tooltip-right {
  width: 150px;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}




